<h2>Your Twoppleganger is...</h2>

<div class="profile-pic">
  <%= image_tag @match[1]['profile_image'].to_s, class: "user-pic" %>
  <h3>@<%= @match.first %></h3>
</div>
<h3>with a <%= @match_score %>% match!</h3>
