<h1>Welcome to Twoppleganger!</h1>

<% if current_user %>
  <p>Signed in as @<%= current_user.name %></p>
  <%= link_to 'Find your Twoppleganger', "/twoppleganger" %>
<% else %>
  <p>Sign in to Twitter to find your Twitter Doppleganger</p>
  <%= link_to "Sign in", "/auth/twitter" %>
<% end %>
